
:root {
  --color-primario: #3498db;
  --color-secundario: #2c3e50;
  --color-fondo: #f4f7f6;
  --color-superficie: #ffffff;
  --color-texto: #333;
  --color-borde: #ddd;
  --radio-borde: 8px;
  --sombra-caja: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


.container {
  background: var(--color-superficie);
  padding: 2rem;
  border-radius: var(--radio-borde);
  box-shadow: var(--sombra-caja);
  margin-top: 2rem;
}

h1, h2 {
  color: var(--color-secundario);
  margin-bottom: 1.5rem;
}